body {
    font-family:  Calibri;
    background-color: #f4f4f4;
    align-items: center;
    margin: 0%;
}
body > p{
    text-align: center;
    font-style: oblique;
    font-size: 25px;
}
header{
    background-color: black;
    color: white;
    font-size: 55px;
    text-align: center;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-shadow: 3px 3px 3px gray;
}
form {
    background-color: white;
    padding: 40px;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(187, 169, 169);
    border: 1px solid rgb(170, 168, 168);
    max-width: 600px;
    width: 100%;
    margin-left: 420px;
    font-size: 20px;
}
label {
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"],input[type="email"],textarea,select {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}
input[type="radio"] {
    margin-right: 10px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #3050c3;
    color: white;
    border: 3px navy;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: navy;
}     